*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.header{
    background: #000000;
    height: 90px;
    width: 100%;
    position:fixed;
    /* background: transparent; */
    
    
}
.social{
    margin-left: 270px;
    
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;

}

.logo {
    width: 150px;
    margin-right: 150px;
    padding-left: 20px;
}

ul a{
    margin-top: -28px;
    color: white;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 25px;
    text-align: center;
}
.logos{
    width: 25px;
}
.sec1{
    background-image: url(img/01.png);
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #9c4041;
}
.sec2{
    background: #9c4041;
    width: 100%;
    height: 700px;
    
}
.sec3{
    background-image: url(img/about.png);
    width: 480px;
    height: 640px;
    margin-left: 210px;
}
.tex1{
    padding-left: 1000px;
    margin-top: -515px;
    margin-left: -203px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    
}
.text1 h2{
    font-weight:normal;
    font-size: 35px;
}
.tex2{
    
    margin-left: 795px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-size: 25px;
    
}
.text2 h3{
    font-weight: normal;
}
.tex3{
    margin-left: 795px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
    
}
.tex3 h4{
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
}

input.box1{
    color: #d1bd74;
    height: 40px;
    font-size: 18px;
    background: #9c4041;
    font-size: 14px;
    text-align: center;
    border-color: #d1bd74;
    cursor: pointer;
    transition: 0.5s;
    
}
input.box1:hover{
    background: #d1bd74;
    color: black;
}
.footer{
    width: 100%;
    background-color:  #1c1c1c;
    height:  750px;
}
.text1{
    text-align: left;
    color: #7c682a;
    font-family: 'Montserrat', sans-serif;
    margin-left: 121px;
   padding-top: 100px;
   font-size: 28px;
   line-height: 40px;
}
.tex1 h4{
    font-weight: normal;
}
.text2{
    text-align: left;
    color: #d1bd74;
    margin-left: 121px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    
}

hr{
    margin: 110px;
}
.des{
    width: 1170px;
    height: 290px;
    padding: 10px;
    margin-left: 168px;
    margin-bottom: 0px;
    margin-top: 51px;
}
.logo2{
    background-image: url(img/logo.svg);
    width: 110px;
    height: 70px;
    display: flex;
    background-repeat: no-repeat;
    margin-top: 110px;
}

.end1{
    text-align: left;
    margin-top: -200px;
    color: #d1bd74;
    margin-left: 318px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 35px;
}
.end1 h3{
    font-weight: normal;
    font-size: 16px;
}
.end2{
    text-align: left;
    margin-top: -50px;
    color: #d1bd74;
    margin-left: 318px;
    font-family: 'Montserrat', sans-serif;
}
.end2 h3{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.end3 {
    color: #d1bd74;
    text-decoration: none;
    line-height: 35px;
    margin-left: 850px;
    margin-top: -190px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.end3 h3{
    font-weight: normal;
    font-size: 16px;
}
input.box2{
    color: #7c682a;
    height: 40px;/
    font-size: 18px;
    
    background-color:  #1c1c1c;
    font-size: 14px;
    text-align: center;
    border-color: #d1bd74;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 1000px;
    
}
input.box2:hover{
    background: #7c682a;
    color: black;
}